.logo {
  display: flex;
  justify-content: center;

  .logo__img {
    margin: 0 auto 1em auto;
    max-width: 100%;

    &.logo__img--mobile {
      display: none;
      max-width: 340px;
    }
  }
}

// SMALL SCREENS

@media only screen and (max-width: 900px) {

  .logo {

    .logo__img {
      margin: 1em;

      &.logo__img--desktop {
        display: none;
      }

      &.logo__img--mobile {
        display: block;
      }
    }
  }
}